@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.button {
    font-family: "DM Sans";
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    background-color: #023679 !important;
    text-decoration: none;
    width: 100% !important;
}

button:hover {
    background-color: #164684 !important;
    outline: none;
}

.button:active {
    background-color: #214E89 !important;
}

.title {
    font-family: "DM Sans";
    font-size: 32px !important;
    font-weight: 500 !important;
    text-align: center;
}

.headerBig {
    font-family: "DM Sans";
    font-size: 24px !important;
    font-weight: 500 !important;
    text-align: center;
}

.header {
    font-family: "DM Sans";
    font-size: 16px !important;
    font-weight: 400 !important;
    text-align: center;
}

.body {
    font-family: "DM Sans";
    font-size: 14px !important;
    font-weight: 400 !important;
}

.link {
    font-family: "DM Sans";
    font-size: 12px !important;
    margin-top: 8px;
    text-align: center;
}

.search-submit:hover {
    color: #164684 !important;
    box-shadow: none !important;
}

.search-submit:active {
    color: #214E89 !important;
}

.logo {
    margin-right: 20px;
}

.title {
    font-family: "DM Sans";
    font-size: 40px !important;
    font-weight: 400 !important;
    text-align: center;
}

.to-text {
    text-align: left !important;
}

.smaller-width {
    width: 80px !important;
}